<div class="mt-4">
    <div>
        <h3>Khóa học đã xóa</h3>
        <a href="/me/store/course" class="link-underline-light my-4">Danh sách khóa học</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Thời gian xóa</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each course}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn-restore btn btn-link link-underline-light" data-id="{{this._id}}">Khôi
                        phục</a>
                    <a href="" class="btn btn-link link-underline-light" data-bs-toggle="modal" data-id="{{this._id}}"
                        data-bs-target="#delete-course-modal">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="4" class="text-center">
                    Chưa có khóa học nào bị xóa
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{!-- model --}}
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Xóa khóa học?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa khóa học này
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="btn-delete-course">Xóa</button>
            </div>
        </div>
    </div>
</div>

<form method="post" id="delete-form"></form>
<form method="post" id="restore-form"></form>


<script>
    var courseId;
    var deleteForm = document.getElementById('delete-form')
    var restoreForm = document.getElementById('restore-form')
    var deleteCourseModal = document.getElementById('delete-course-modal')
    var btnDeleteCourse = document.getElementById('btn-delete-course')
    var btnRestore = document.querySelectorAll('.btn-restore');

    if (deleteCourseModal) {
        deleteCourseModal.addEventListener('show.bs.modal', event => {
            const button = event.relatedTarget
            courseId = button.getAttribute('data-id')
            console.log(courseId)
        })
    }

    btnDeleteCourse.onclick = () => {
        deleteForm.action = '/course/' + courseId + '/force?_method=DELETE';
        deleteForm.submit();
    }

    //Restore btn click
    btnRestore.forEach((btn) => {
        btn.onclick = (e) => {
            e.preventDefault();
            let courseId = btn.getAttribute('data-id')
            restoreForm.action = '/course/' + courseId + '/restore?_method=PATCH';
            restoreForm.submit();
            console.log('hello')
        }
    })



</script>